<header class="container">
<h1>View All Artists</h1>
</header>
<section class="container">
<table class="table song_table">
  <thead>
    <tr><th>Artist Name</th><th></th><th></th><th></th></tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= link_to "View/Add Songs", artist %></td>
        <td><%= link_to "Edit Artist", edit_artist_path(artist) %></td>
        <td><%= link_to "Delete", artist_path(artist), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add New Artist", new_artist_path %>
<br />
<%= link_to "Back To Charts", charts_path %>
</section>
