<header class="container">
<h1><%= @artist.name %></h1>
</header>
<section class="container">
<h3>Songs</h3>
<table class="table song_table">
  <thead>
    <tr><th>Title</th><th>Edit</th><th>Delete</th>
  </thead>
  <tbody> 
    <% @artist.songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= link_to "Edit", edit_artist_song_path(@artist, song) %></td>
        <td><%= link_to "Delete", artist_song_path(@artist, song), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<%= link_to "Add Song", new_artist_song_path(@artist) %>
<br />
<%= link_to "Back To Artists", artists_path%>
</section>